.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 20%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #03e9f4;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: grid;
      place-items: center
}
