* {
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins', sans-serif;
  -ms-overflow-style: none;
}

body {
  margin:0;
  padding:0;
  background-color: #212124;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

::-webkit-scrollbar{
  width: 0;
}

.header {
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
}

.header .container {
  min-height: 30rem;
  min-width: 55rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.btn{
  width: 500px;
  background-color: #8899a4;
  margin-top: 35px;
  padding: 10px 35px;
  border-radius: 10px;
  margin-right: 35px;
  text-align:center;
  font-weight: 550;
  font-size: 20px;
  color:ffffff;
  cursor: pointer;
  transition: 200ms;
}

.btn:hover{
  background-color: #94a6b3;

}

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 70%;
  transform: translate(-50%, -50%) scale(0);
  border-radius:5px;
  z-index: 10;
  align-content: center;
  background: rgba(0,0,0,0.09);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  border-radius: 8px;
  transition:300ms;
}

.popup.active{
  transform: translate(-50%, -50%) scale(1);

}

.popup h2{
  font-weight: 550;
  color: #ffffff;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.popup input{
  width: 80%;
  height: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 3px;
  font-size: 1.3rem;
  font-weight: 510;
  border: 1px solid gray;
  border-radius: 8px;
}

.submit{
  width: 100px;
  background-color: #8899a4;
  margin-top: 35px;
  padding: 10px 35px;
  border-radius: 10px;
  margin-right: 35px;
  text-align:center;
  font-weight: 550;
  font-size: 20px;
  color:ffffff;
  cursor: pointer;
  transition: 200ms;
  position: absolute;
  left: 65%;
}

.submit:hover{
  box-shadow: 5px 5px 30px rgba(1,1,1,1.2);
}
.submit::after{
  background-color: #8899a4;
  color:00000;
}