* {
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins', sans-serif;
  -ms-overflow-style: none;
}

body {
  margin:0;
  padding:0;
  background-color: #212124;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

::-webkit-scrollbar{
  width: 0;
}

.header {
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
}

.header .container {
  min-height: 30rem;
  min-width: 55rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.btn{
  width: 500px;
  background-color: #8899a4;
  margin-top: 35px;
  padding: 10px 35px;
  border-radius: 10px;
  margin-right: 35px;
  text-align:center;
  font-weight: 550;
  font-size: 20px;
  color:ffffff;
  cursor: pointer;
  transition: 200ms;
}

.btn:hover{
  background-color: #94a6b3;

}

.popup{
  
}


